.tabs-wrapper{
		background: linear-gradient(rgb(255 255 255 / 0%) 60%, rgb(245 245 245 / 80%));
	max-width: 100% !important;
	margin: 0 !important;
	padding-left: 0 !important;
}

.tabs{

	box-shadow: 0 -1px 0 inset #d8d8d8;

}

.tabs ul {


    list-style: none;
	
position: relative;

display: flex;
z-index: 2;
overflow: auto;
overflow-y: hidden;
scroll-snap-type: x mandatory;
-ms-overflow-style: none;
scrollbar-width: none;
	
	display: flex;
padding: 0 8.3%;
	text-align: center;
	
}


.tabs li {
	flex: 1;

    box-sizing: border-box;
/*    border-bottom: 1px solid transparent;*/
    cursor: pointer;
	
		padding: 24px 32px 18px;
	padding-bottom: 0;
line-height: 18px;

}

.tabs li button {
    font-size: 14px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 1em 1.5em;
    max-height: 3pc;
    min-width: 3pc;
    border-radius: 0;
	border-color: transparent;
    background: none;
    color: black;
	margin: 0;
}

.tabs li button.active {
    border-color: #d8d8d8;
    background-color: #fff;
    color: #2C2C2C;
	border-radius: 4px 4px 0 0;
	border-color : #d8d8d8 #d8d8d8 transparent;

}

.tab-item{
	padding: 32px;	
}

